{% extends "base.html" %}
{% block main %}

<h1>国分寺のおすすめグルメ</h1>
<div class="container common">
    <div class="container_service">
        <div class="service_block">
            <section id="location">
                <dev class="wrapper">
                    <div class="location-info">
                        <h3 class="sub-tittle"></h3>
                    </div>
                </dev>
            </section>
            <div class="service">
                <div class="ttl">沖縄居酒屋　島崎屋</div>
                <div class="explain">説明</div>
                <h3 class="photo-explain">写真</h3>
                <img src="../static/images/koku/koku01.jpg">
                <img src="../static/images/koku/koku02.jpg">
                <section id="location">
                    <dev class="wrapper">
                        <div class="location-info">
                            <h3 class="sub-tittle"></h3>
                            <p>
                                住所：東京都国分寺市<br>
                                本町3丁目5 6SHビル 2F<br>
                            </p>
                        </div>
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12959.993565168865!2d139.4798944!3d35.7016572!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf7238821da535085!2z5rKW57iE5bGF6YWS5bGLIOWztuW0juWxiw!5e0!3m2!1sja!2sjp!4v1672982773837!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </dev>
                </section>
            </div>
            <div class="service">
                <div class="ttl">食堂 猿乃拳</div>
                <div class="explain">説明</div>
                <h3 class="photo-explain">写真</h3>
                <img src="../static/images/koku/koku03.jpg">
                <img src="../static/images/koku/koku04.jpg">
                <section id="location">
                    <dev class="wrapper">
                        <div class="location-info">
                            <h3 class="sub-tittle"></h3>
                            <p>
                                住所：東京都国分寺市本町<br>
                                4丁目1−10 国分寺シティハイツ B1<br>
                            </p>
                        </div>
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12960.17242971726!2d139.4782643!3d35.7005568!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x18ed43967b3c84c9!2z6aOf5aCCIOeMv-S5g-aLsw!5e0!3m2!1sja!2sjp!4v1672982921356!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </dev>
                </section>
            </div>
            <div class="service">
                <div class="ttl">恵比寿屋 本店</div>
                <div class="explain">説明</div>
                <h3 class="photo-explain">写真</h3>
                <img src="../static/images/koku/koku05.jpg">
                <img src="../static/images/koku/koku06.jpg">
                <section id="location">
                    <dev class="wrapper">
                        <div class="location-info">
                            <h3 class="sub-tittle"></h3>
                            <p>
                                住所：東京都国分寺市<br>
                                本町3丁目6−13 フラット瀬村 1F<br>
                            </p>
                        </div>
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12960.003626832964!2d139.4796766!3d35.7015953!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x622e6b2813bd3dfa!2z5oG15q-U5a-_5bGLIOacrOW6lw!5e0!3m2!1sja!2sjp!4v1672983012221!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </dev>
                </section>
                
            </div>
            <div class="service">
                <div class="ttl">炭火酒場 鶏眞 国分寺</div>
                <div class="explain">説明</div>
                <h3 class="photo-explain">写真</h3>
                <img src="../static/images/koku/koku07.jpg">
                <img src="../static/images/koku/koku08.jpg">
                <section id="location">
                    <dev class="wrapper">
                        <div class="location-info">
                            <h3 class="sub-tittle"></h3>
                            <p>
                                住所：東京都国分寺市<br>
                                本町4丁目1−10 国分寺シティハイツ 1F<br>
                            </p>
                        </div>
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12960.17242971726!2d139.4782643!3d35.7005568!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8c1ac8e511438a90!2z54Kt54Gr6YWS5aC0IOm2j-ecniDlm73liIblr7o!5e0!3m2!1sja!2sjp!4v1672983208970!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </dev>
                </section>
                
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
