{% extends "base.html" %}
{% block main %}

<h1>西荻窪のおすすめグルメ</h1>
<div class="container common">
    <div class="container_service">
        <div class="service_block">
            <section id="location">
                <dev class="wrapper">
                    <div class="location-info">
                        <h3 class="sub-tittle"></h3>
                    </div>
                </dev>
            </section>
            <div class="service">
                <div class="ttl">すっぴん BAKAWARAI</div>
                <div class="explain">説明</div>
                <h3 class="photo-explain">写真</h3>
                <img src="../static/images/kichi/pep01.jpg">
                <img src="../static/images/kichi/pep02.jpg">
                <section id="location">
                    <dev class="wrapper">
                        <div class="location-info">
                            <h3 class="sub-tittle"></h3>
                            <p>
                                住所：東京都杉並区<br>
                                西荻南3丁目11−11
                            </p>
                        </div>
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12959.735045109659!2d139.5996582!3d35.7032476!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x94f19672f263c57e!2z44GZ44Gj44G044KTIEJBS0FXQVJBSQ!5e0!3m2!1sja!2sjp!4v1672983926789!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </dev>
                </section>
            </div>
            <div class="service">
                <div class="ttl">さんだるきっちん</div>
                <div class="explain">説明</div>
                <h3 class="photo-explain">写真</h3>
                <img src="../static/images/kichi/shiru01.jpg">
                <img src="../static/images/kichi/shiru02.jpg">
                <section id="location">
                    <dev class="wrapper">
                        <div class="location-info">
                            <h3 class="sub-tittle"></h3>
                            <p>
                                住所：東京都杉並区西荻南<br>
                                2丁目20−8 山田ビル 1階<br>
                            </p>
                        </div>
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12960.106615791452!2d139.5991793!3d35.7009617!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1b364c263a8d9918!2z44GK44GL44GI44KK6YWS5aC0IOOBleOCk-OBoOOCi-OBjeOBo-OBoeOCkw!5e0!3m2!1sja!2sjp!4v1673072276847!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </dev>
                </section>
                
            </div>
            <div class="service">
                <div class="ttl">SPICE飯店</div>
                <div class="explain">説明</div>
                <h3 class="photo-explain">写真</h3>
                <img src="../static/images/kichi/nerori01.jpg">
                <img src="../static/images/kichi/nerori02.jpg">
                <section id="location">
                    <dev class="wrapper">
                        <div class="location-info">
                            <h3 class="sub-tittle"></h3>
                            <p>
                                住所：東京都杉並区西荻南<br>
                                2丁目19−5 サニーサイド弐番館 1F<br>
                            </p>
                        </div>
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12960.182491112453!2d139.5987684!3d35.7004949!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcdb1a392eb1379a7!2zU3BpY2Xpo6_lupc!5e0!3m2!1sja!2sjp!4v1673072555086!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </dev>
                </section>
                
            </div>
            <div class="service">
                <div class="ttl">西荻窪WHARF</div>
                <div class="explain">説明</div>
                <h3 class="photo-explain">写真</h3>
                <img src="../static/images/kichi/hatti01.jpg">
                <img src="../static/images/kichi/hatti02.jpg">
                <section id="location">
                    <dev class="wrapper">
                        <div class="location-info">
                            <h3 class="sub-tittle"></h3>
                            <p>
                                住所：東京都杉並区西荻南br>
                                3丁目11−12 明月店舗Ⅱ 1階<<br>
                            </p>
                        </div>
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12959.745058396435!2d139.5996326!3d35.703186!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc8c66424b41f741f!2z6KW_6I2756qqV0hBUkYgKOODr-ODvOODlSk!5e0!3m2!1sja!2sjp!4v1673072677428!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </dev>
                </section>
                
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
