{% extends "base.html" %}
{% block main %}

<h1>荻窪のおすすめグルメ</h1>
<div class="container common">
    <div class="container_service">
        <div class="service_block">
            <section id="location">
                <dev class="wrapper">
                    <div class="location-info">
                        <h3 class="sub-tittle"></h3>
                    </div>
                </dev>
            </section>
            <div class="service">
                <div class="ttl">ななめ</div>
                <div class="explain">説明</div>
                <h3 class="photo-explain">写真</h3>
                <img src="../static/images/kichi/pep01.jpg">
                <img src="../static/images/kichi/pep02.jpg">
                <section id="location">
                    <dev class="wrapper">
                        <div class="location-info">
                            <h3 class="sub-tittle"></h3>
                            <p>
                                住所：東京都杉並区<br>
                                荻窪4丁目25−10
                            </p>
                        </div>
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12959.689302404558!2d139.623164!3d35.703529!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xefcda9a7045c357b!2z44Gq44Gq44KB!5e0!3m2!1sja!2sjp!4v1673072952672!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </dev>
                </section>
            </div>
            <div class="service">
                <div class="ttl">鮨のえん屋 荻窪店</div>
                <div class="explain">説明</div>
                <h3 class="photo-explain">写真</h3>
                <img src="../static/images/kichi/shiru01.jpg">
                <img src="../static/images/kichi/shiru02.jpg">
                <section id="location">
                    <dev class="wrapper">
                        <div class="location-info">
                            <h3 class="sub-tittle"></h3>
                            <p>
                                住所：東京都杉並区<br>
                                上荻1丁目13−10 共栄ビル 1Ｆ<br>
                            </p>
                        </div>
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12959.423000179258!2d139.6181819!3d35.7051672!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6ad32538e3cc4a5c!2z6a6o44Gu44GI44KT5bGLIOiNu-eqquW6lw!5e0!3m2!1sja!2sjp!4v1673073590967!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </dev>
                </section>
                
            </div>
            <div class="service">
                <div class="ttl">赤津庄兵衛</div>
                <div class="explain">説明</div>
                <h3 class="photo-explain">写真</h3>
                <img src="../static/images/kichi/nerori01.jpg">
                <img src="../static/images/kichi/nerori02.jpg">
                <section id="location">
                    <dev class="wrapper">
                        <div class="location-info">
                            <h3 class="sub-tittle"></h3>
                            <p>
                                住所：東京都杉並区天沼<br>
                                3丁目11−3 モアビル 102
                            </p>
                        </div>
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12959.104779348174!2d139.6170183!3d35.7071247!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xde5aa6f0ff593f51!2z6LWk5rSl5bqE5YW16KGb!5e0!3m2!1sja!2sjp!4v1673073807720!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </dev>
                </section>
                
            </div>
            <div class="service">
                <div class="ttl">サカナとタナカ Iriguchi </div>
                <div class="explain">説明</div>
                <h3 class="photo-explain">写真</h3>
                <img src="../static/images/kichi/hatti01.jpg">
                <img src="../static/images/kichi/hatti02.jpg">
                <section id="location">
                    <dev class="wrapper">
                        <div class="location-info">
                            <h3 class="sub-tittle"></h3>
                            <p>
                                住所：東京都杉並区<br>
                                上荻1丁目4−4<br>
                            </p>
                        </div>
                        <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12959.450928110482!2d139.6222178!3d35.7049954!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8f3d7903a2e32cc!2z44K144Kr44OK44Go44K_44OK44KrIElyaWd1Y2hpIO-8iOOCpOODquOCsOODge-8iQ!5e0!3m2!1sja!2sjp!4v1673073911713!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </dev>
                </section>
                
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
