{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}プロフィール | POSII{% endblock %}
{% block main %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="container">
  <h1 class="mb-4">プロフィール</h1>
    <div class="card">
      <div class="card-body">
        <form method="post" action="/accounts/edit/" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-info btn-block" type="submit">保存</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}
